body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1F2544;
}

h1, h2, h3, h4, h5{
    font-weight: 700;
}

h1 {
    font-size: 35px;
}

a {
    cursor: pointer;
    text-decoration: none;
}
